* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

.modal-main {
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-main .hand-print-tip {
    margin: 310px auto;
    display: block;
    text-align: center;
    font-size: 40px;
}

.modal-main .modal-progress {
    margin: 310px auto;
    display: block;
    text-align: center;
}

.modal-2-main {
    height: 1143px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-audio {
    position: absolute;
    z-index: 9;
    top: 1070px;
    width: 100%;
}

.modal-button {
    position: absolute;
    z-index: 11;
    top: 1050px;
    width: 100%;
}

.modal-button .pre_but {
    position: absolute;
    z-index: 12;
    background: url('../image/index_01_prev_but.png') no-repeat center;
    background-size: 100% 100%;
    left: 80px;
    width: 80%;
    height: 90px;
    cursor: pointer;
}

.modal-button .next_but {
    position: absolute;
    z-index: 14;
    background: url('../image/index_01_next_but.png') no-repeat center;
    background-size: 100% 100%;
    left: 100px;
    width: 80%;
    height: 87.5px;
    cursor: pointer;
}

.modal-footer {
    height: 120px;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #e9e9e9;
}

.modal-footer .task-qrcode {
    background-color: #404040;
}

/*index-0*/
.index-0-bg {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_00_bg.png') no-repeat center;
    background-size: 100% 100%;
}

.index-0-carousel {
    position: absolute;
    width: 1170px;
    left: 320px;
    top: 850px;
    overflow: hidden;
}

.index-0-carousel-item {

}

.index-0-carousel-item img {
    width: 270px;
    height: 150px;
}

.index-0-carousel-previous {
    position: absolute;
    left: 225px;
    top: 870px;
    border: none;
}

.index-0-carousel-next {
    position: relative;
    left: 1495px;
    top: 870px;
    border: none;
}

.side {
    position: absolute;
    top: 93px;
    right: 40px;
    width: 245px;
}

.public_signal {
    width: 224px;
    height: 224px;
    margin-bottom: 60px;
}

.public_signal img {
    width: 224px;
    height: 224px;
}

.public_signal p {
    color: #6d6d6d;
    text-align: center;
    font-size: 14px;
}

.side .member {
    margin-top: 60px;
    color: #6d6d6d;
}

.side .member p {
    margin-bottom: 20px;
    color: #6d6d6d;
    text-align: center;
    font-size: 12px;
}

.side .member li {
    margin: 12px 48px;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.member-image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 22px;
}

/*index-5*/
.index-5-bg {
    width: 2048px;
    height: 1536px;
    position: relative;
    background: url('../image/index_05_bg.png') no-repeat center;
    background-size: cover;
    position: relative;
    -webkit-transform-origin: top left;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: none;
    overflow: hidden;
}

.index-5-main {
    position: absolute;
    top: 422px;
    left: 50%;
    margin-left: -749px;
    background: #ffffff;
    width: 1498px;
    height: 1042px;
    border-radius: 20px;
    padding-top: 96px;
    box-sizing: border-box;
}

.index-5-title {
    font-size: 33.3px;
    text-align: center;
    margin-bottom: 96px;
    box-sizing: border-box;
}

.video-li {
    width: 100%;
    box-sizing: border-box;
}

.video-li li {
    width: 20%;
    float: left;
    padding: 0px 35px;
    box-sizing: border-box;
    margin-bottom: 48px;
}

.video-li li img {
    width: 100%;
}

.index-5-modal-main {
    height: 560px;
    overflow-x: hidden;
    overflow-y: auto;
}

.index-5-main-text {
    fonot-size: 16px;
    color: #000;
    text-decoration: none;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.index-5-page {
    margin: 0 auto;
    left: 380px;
    bottom: 55px;
    position: absolute;
}

.index-3-bg {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_3_bg.png') no-repeat center;
    background-size: 100% 100%;
}

.index-4-div {
    width: 19875px;
    height: 540px;
    overflow: hidden;
}

.index-4-bg {
    width: 19875px;
    height: 540px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

.index-4-bg ul {
    width: 19875px;
    height: 540px;
    position: absolute;
    left: 0;
    top: 0;
    animation: wufeng 210s linear infinite;
    animation-play-state: paused;
}

.index-4-bg ul li {
    float: left;
    position: relative;
}

.index-4-bg ul li img {
    height: 540px;
    display: block;
}

@keyframes wufeng {
    0% {
        left: 0;
    }
    100% {
        left: -19875px;
    }
}

.index-4-sky {
    width: 19875px;
    height: 540px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.index-4-sky ul {
    width: 19875px;
    height: 540px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    animation: wufeng 300s linear infinite;
    animation-play-state: paused;
}

.index-4-sky ul li {
    float: left;
}

.index-4-sky ul li img {
    height: 540px;
    display: block;
}

.index-4-car {
    position: absolute;
    left: 500px;
    top: 330px;
    z-index: 4;
    height: 210px;
    display: block;
}

.animation-play ul {
    animation-play-state: running;
}

.building-popover {
    width: 500px;
}

.building {
    position: absolute;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-0 {
    position: absolute;
    left: 494px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-1 {
    position: absolute;
    left: 1052px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-2 {
    position: absolute;
    left: 1712px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-3 {
    position: absolute;
    left: 2236px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-4 {
    position: absolute;
    left: 2657px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-5 {
    position: absolute;
    left: 3750px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-6 {
    position: absolute;
    left: 4281px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-7 {
    position: absolute;
    left: 4713px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-8 {
    position: absolute;
    left: 5135px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.building-9 {
    position: absolute;
    left: 5468px;
    top: 138px;
    width: 336px;
    height: 276px;
    z-index: 3;
    display: block;
}

.timeline-up {
    position: absolute;
    left: 500px;
    width: 3340px;
    height: 270px;
    overflow-x: auto;
    overflow-y: hidden;
}

.timeline-up-content {
    width: 5000px;
}

.timeline-up-item {
    float: left;
    min-width: 240px;
    height: 270px;
    background: url('../image/index_4_up.png') no-repeat;
    text-align: center;
}

.timeline-up-item-qrcode {
    width: 190px;
    height: 190px;
    margin-left: 30px;
}

.timeline-up-item-title {
    font-size: 30px;
    font-weight: bold;
    color: #e60012;
    margin-top: 25px;
    margin-left: 30px;
    text-align: left;
}

.timeline-up-item-content {
    height: 190px;
    margin-left: 30px;
    color: #e60012;
    overflow: hidden;
}

.timeline-down {
    position: absolute;
    left: 600px;
    top: 258px;
    width: 3240px;
    height: 270px;
    overflow-x: auto;
    overflow-y: hidden;
}

.timeline-down-item {
    float: left;
    min-width: 300px;
    height: 270px;
    background: url('../image/index_4_down.png') no-repeat;
    text-align: center;
}

.timeline-down-item-title {
    font-size: 30px;
    font-weight: bold;
    color: #e60012;
    margin-top: 30px;
    margin-left: 30px;
}

.timeline-down-item-content {
    height: 190px;
    margin-left: 30px;
    color: #e60012;
    overflow-y: auto;
}

/*.index-4-carousel {*/
/*position: absolute;*/
/*left: 1320px;*/
/*top: 300px;*/
/*width: 5000px;*/
/*height: 500px;*/
/*overflow: hidden;*/
/*}*/

/*.timeline-item {*/
/*float: left;*/
/*width: 400px;*/
/*font-size: 22px;*/
/*font-weight: bold;*/
/*cursor: pointer;*/
/*}*/

/*.timeline-item-date {*/
/*color: red;*/
/*text-align: center;*/
/*}*/

/*.timeline-item-name {*/
/*text-align: center;*/
/*}*/

/*.timeline-event {*/
/*float: left;*/
/*width: 150px;*/
/*height: 500px;*/
/*padding: 10px 0px 10px 0px;*/
/*color: white;*/
/*overflow-y: auto;*/
/*-webkit-overflow-scrolling: touch;*/
/*background-color: black;*/
/*font-size: 22px;*/
/*font-weight: bold;*/
/*cursor: pointer;*/
/*}*/

/*.timeline-event li {*/
/*height: 55px;*/
/*line-height: 55px;*/
/*border-bottom: 1px solid #404040;*/
/*padding-left: 20px;*/
/*}*/

/*.timeline-event .active {*/
/*background-color: #404040;*/
/*}*/

/*.timeline-event-item {*/
/*float: left;*/
/*width: 430px;*/
/*height: 500px;*/
/*margin-right: 20px;*/
/*padding: 20px;*/
/*color: #ffffff;*/
/*font-size: 20px;*/
/*background-color: #404040;*/
/*}*/

/*.timeline-event-item-main {*/
/*height: 320px;*/
/*margin-bottom: 20px;*/
/*overflow-y: auto;*/
/*}*/

/*index-2*/
.index-2-bg {
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_01_bg.png') no-repeat center;
    background-size: 100% 100%;
}

.index-2-carousel-item {

}

.index-2-carousel-item img {
    width: 100%;
    height: 100%;
}

.index-2-affiant{
    margin-top: 629px;
    left: 0px;
    right:0px;
    z-index: 99;
}
.index-2-affiant-title{
    padding: 48px 0px 92px 0px;
    font-size: 42px;
    color: #000;
    font-family: Microsoft YaHei;
    text-align: center;
}
.index-2-affiant-list{
    height: 942px;
    overflow-y: scroll;
    padding: 0px 0px 0px 153px;
    margin-right:138px;
}
.index-2-affiant-item{
    width: 158px;
    float: left;
    margin:15px;
}
.index-2-affiant-user-avatar{
    width: 158px !important;
    height: 158px !important;
    /*border-radius: 50%;*/
    padding: 10px;
}
.index-2-affiant-user-name{
    font-size: 35px;
    color: #7b7b7b;
    text-align: center;
    font-family: 微软雅黑;
    padding-top: 10px;
}
.index-2-affiant-info{
    background: #d25a63;
}
.index-2-affiant-info-avatar{
    text-align: center;
    padding-top: 26px;
}
.index-2-affiant-info-avatar img{
    width: 158px;
    height: 158px;
    border-radius: 50%;
}
.index-2-affiant-info-name{
    font-size: 21px;
    color: #fff;
    font-family: 微软雅黑;
    text-align: center;
}
.index-2-affiant-info-summary{
    font-size: 21px;
    color: #fff;
    font-family: 微软雅黑;
    text-align: center;
    padding: 26px 0px;
}

.index-2-affiant-decription{
    padding: 20px 10px;
    font-size: 25px;
    color: #7f7f7f;
}

.slef-slick-dots .slick-dots{
    bottom: -5px;
    margin-bottom: 100px;
}

.slef-slick-dots .slick-dots li.slick-active button:before {
    font-size: 16px;
    color: #D3414C;
}

.slef-slick-dots .slick-dots li button:before {
    font-size: 16px;
    color: #D3414C;
}

.con_but {

}

.con_but_00 {
    position: absolute;
    z-index: 9;
    top: 470px;
    left: 40px;
    background: url('../image/index_01_but03.png') no-repeat center;
    background-size: 100% 100%;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

.con_but_01 {
    position: absolute;
    z-index: 8;
    top: 470px;
    left: 740px;
    background: url('../image/index_01_but01.png') no-repeat center;
    background-size: 100% 100%;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

.con_but_02 {
    position: absolute;
    z-index: 9;
    top: 470px;
    left: 390px;
    background: url('../image/index_01_but02.png') no-repeat center;
    background-size: 100% 100%;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

.song_but{
    position: relative;
    top: 727px;
    z-index:10;
}
.song_but_00{
    left: 152px;
}
.song_but_01{
    left: 769px;
}

.play-toggle {
    visibility: hidden;
}

.task-qrcode {
    float: left;
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    margin-right: 20px;
}

.task-qrcode-2 {
    float: left;
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    margin-right: 20px;
}

.task-member {
    float: left;
    width: 100px;
}

.task-member .member-avatar {
    text-align: center;
    margin-top: 15px;
}

.task-member .member-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 auto;
}

.task-member .member-name {
    text-align: center;
    margin-top: 10px;
}

.hand-print {
    height: 600px;
    margin: 0 auto;
    display: block;
}

.hand-print-upload {
    margin: 20px auto;
    display: block;
    text-align: center;
}

.video-master {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 200px;
    background-color: bisque;
    z-index: 999;
}




