* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

.modal-main {
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-main .hand-print-tip {
    margin: 310px auto;
    display: block;
    text-align: center;
    font-size: 40px;
}

.modal-2-main {
    height: 1143px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-footer {
    height: 120px;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #e9e9e9;
}

.modal-footer .task-qrcode {
    background-color: #404040;
}

/*index-0*/
.index-0-bg {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_00_bg.png') no-repeat center;
    background-size: 100% 100%;
}

.index-0-carousel {
    position: absolute;
    width: 1170px;
    left: 320px;
    top: 850px;
    overflow: hidden;
}

.index-0-carousel-item {

}

.index-0-carousel-item img {
    width: 270px;
    height: 150px;
}

.index-0-carousel-previous {
    position: absolute;
    left: 225px;
    top: 870px;
    border: none;
}

.index-0-carousel-next {
    position: relative;
    left: 1495px;
    top: 870px;
    border: none;
}

.side {
    position: absolute;
    top: 93px;
    right: 93px;
    width: 224px;
}

.public_signal {
    width: 224px;
    height: 224px;
    margin-bottom: 60px;
}

.public_signal img {
    width: 224px;
    height: 224px;
}

.public_signal p {
    color: #6d6d6d;
    text-align: center;
    font-size: 14px;
}

.side .member {
    margin-top: 60px;
    color: #6d6d6d;
}

.side .member p {
    margin-bottom: 20px;
    color: #6d6d6d;
    text-align: center;
    font-size: 12px;
}

.side .member li {
    margin: 12px 48px;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.member-image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 22px;
}

/*index-5*/
.index-5-bg {
    width: 2048px;
    height: 1536px;
    position: relative;
    background: url('../image/index_02_bg.png') no-repeat center;
    background-size: cover;
    position: relative;
    -webkit-transform-origin: top left;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: none;
    overflow: hidden;
}

.index-5-main {
    position: absolute;
    top: 422px;
    left: 50%;
    margin-left: -749px;
    background: #ffffff;
    width: 1498px;
    height: 1042px;
    border-radius: 20px;
    padding-top: 96px;
    box-sizing: border-box;
}

.index-5-title {
    font-size: 33.3px;
    text-align: center;
    margin-bottom: 96px;
    box-sizing: border-box;
}

.video-li {
    width: 100%;
    box-sizing: border-box;
}

.video-li li {
    width: 20%;
    float: left;
    padding: 0px 35px;
    box-sizing: border-box;
    margin-bottom: 48px;
}

.video-li li img {
    width: 100%;
}

.index-5-modal-main {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.index-5-main-text {
    fonot-size: 16px;
    color: #000;
    text-decoration: none;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.index-5-page {
    margin: 0 auto;
    left: 380px;
    bottom: 55px;
    position: absolute;
}

.index-3-bg {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_3_bg.png') no-repeat center;
    background-size: 100% 100%;
}

.index-4-bg {
    width: 7680px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_4_bg.png') no-repeat center;
    background-size: 100% 100%;
    -webkit-transform-origin: top left;
}

.index-4-carousel {
    position: absolute;
    left: 1320px;
    top: 300px;
    width: 6000px;
    height: 814px;
}

.timeline-item {
    float: left;
    width: 400px;
    height: 300px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.timeline-item-date {
    color: red;
    text-align: center;
}

.timeline-item-name {
    text-align: center;
}

.timeline-event {
    float: left;
    width: 300px;
    height: 500px;
    padding: 10px 0px 10px 0px;
    color: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.timeline-event li {
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #404040;
    padding-left: 20px;
}

.timeline-event .active {
    background-color: #404040;
}

.timeline-event-item {
    float: left;
    width: 530px;
    height: 500px;
    margin-right: 20px;
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
    background-color: #404040;
}

.timeline-event-item-main {
    height: 360px;
    overflow-y: auto;
}

.index-4-previous {
    position: absolute;
    left: 1171px;
    top: 486px;
    width: 107px;
    height: 179px;
    border: none;
    background: url('../image/index_4_pre.png') no-repeat center;
    cursor: pointer;
}

.index-4-next {
    position: relative;
    left: 7458px;
    top: 486px;
    width: 107px;
    height: 179px;
    border: none;
    background: url('../image/index_4_next.png') no-repeat center;
    cursor: pointer;
}

/*index-2*/
.index-2-bg {
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_01_bg.png') no-repeat center;
    background-size: 100% 100%;
}

.con_but {
}

.con_but_01 {
    position: absolute;
    top: 982px;
    left: 354px;
    cursor: pointer;
}

.con_but_02 {
    position: absolute;
    top: 1227px;
    left: 354px;
    cursor: pointer;
}

.play-toggle {
    visibility: hidden;
}

.task-qrcode {
    float: left;
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    margin-right: 20px;
}

.task-member {
    float: left;
    width: 100px;
}

.task-member .member-avatar {
    text-align: center;
    margin-top: 15px;
}

.task-member .member-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 auto;
}

.task-member .member-name {
    text-align: center;
    margin-top: 10px;
}

.hand-print {
    height: 700px;
    margin: 0 auto;
    display: block;
}

.video-master {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 200px;
    background-color: bisque;
    z-index: 999;
}

.video-body {
    pointer-events: none;

}
