*{
    padding:0px;
    margin:0px;
    list-style:none;
    text-decoration:none;
}
/*index-00*/
.index-00-bg {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_00_bg.jpg') no-repeat center;
    background-size: 100% 100%;
}

.bottom-position{
    position: absolute;
    bottom: 34px;
    left:0px;
    right:0px;
}
.bottom-carousel{
    width:1196px;
    position: relative;
    left: 214px;
    top: 88px;
}
.bottom-li{
    box-sizing: border-box;
    height: 196px;
}
.bottom-li img{
    width: 272px;
}
.button_previous{
    position: relative;
    left: 136px;
    bottom: 80px;
    border:none;
}
.button_next{
    position: relative;
    left: 1336px;
    bottom: 80px;
    border:none;
}

.side{
    position: absolute;
    top:93px;
    right:93px;
    width: 224px;
}
.public_signal{
    width: 224px;
    height: 224px;
    margin-bottom: 80px;
}
.public_signal img{
    width: 224px;
    height: 224px;
}
.public_signal p{
    color: #6d6d6d;
    text-align: center;
    font-size: 14px;
}
.side .member{
    margin-top: 60px;
    color: #6d6d6d;
    margin-left: 10px;
}
.side .member p{
    margin-bottom: 20px;
    padding-left:22px;
}
.side .member li{
    margin:12px 0px;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.uner_img img{
    width:84px;
    height:84px;
    border-radius: 50%;
    vertical-align:middle;
    margin-right:22px;
}

/*index-01*/
.index-01-bg {
    width: 1080px;
    height: 1774px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_01_bg.png') no-repeat center;
    background-size: 100% 100%;
}
.con_but{
}
.con_but_01{
    position: absolute;
    top:982px;
    left: 354px;
    cursor:pointer;
}
.con_but_02{
    position: absolute;
    top:1227px;
    left: 354px;
    cursor:pointer;
 }

/*index-02*/
.index-02-bg{
    width: 2048px;
    height: 1536px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_02_bg.png') no-repeat center;
    background-size: cover;
    position: relative;
}
.index-02-main{
    position: absolute;
    top:422px;
    left:106px;
    background: #ffffff;
    width: 1498px;
    height:1042px;
    border-radius: 20px;
    padding-top:96px;
    box-sizing: border-box;
}
.index-02-title{
    font-size: 33.3px;
    text-align: center;
    margin-bottom: 96px;
    box-sizing: border-box;
}
.video-li{
    width:100%;
    box-sizing: border-box;
}
.video-li li{
    width: 20%;
    float: left;
    padding:0px 35px;
    box-sizing: border-box;
    margin-bottom: 48px;
}
.video-li li img{
    width: 100%;
}
.index-02-main-text{
    fonot-size: 16.6px;
    color: #000;
    text-decoration:none;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.index-02-page{
    margin: 0 auto;
    left: 380px;
    bottom: 55px;
    position: absolute;
}