* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

.modal-main {
    height: 700px;
}

/*index-0*/
.index-0-bg {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_00_bg.jpg') no-repeat center;
    background-size: 100% 100%;
}

.index-0-carousel {
    position: absolute;
    width: 1170px;
    left: 320px;
    top: 850px;
    overflow: hidden;
}

.index-0-carousel-item {

}

.index-0-carousel-item img {
    width: 270px;
}

.index-0-carousel-previous {
    position: absolute;
    left: 225px;
    top: 870px;
    border: none;
}

.index-0-carousel-next {
    position: relative;
    left: 1495px;
    top: 870px;
    border: none;
}

.side {
    position: absolute;
    top: 93px;
    right: 93px;
    width: 224px;
}

.public_signal {
    width: 224px;
    height: 224px;
    margin-bottom: 80px;
}

.public_signal img {
    width: 224px;
    height: 224px;
}

.public_signal p {
    color: #6d6d6d;
    text-align: center;
    font-size: 14px;
}

.side .member {
    margin-top: 60px;
    color: #6d6d6d;
    margin-left: 10px;
}

.side .member p {
    margin-bottom: 20px;
    padding-left: 22px;
}

.side .member li {
    margin: 12px 0px;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.member-image {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 22px;
}

/*index-5*/
.index-5-bg {
    width: 2048px;
    height: 1536px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_02_bg.png') no-repeat center;
    background-size: cover;
    position: relative;
}

.index-5-main {
    position: absolute;
    top: 422px;
    left: 50%;
    margin-left: -749px;
    background: #ffffff;
    width: 1498px;
    height: 1042px;
    border-radius: 20px;
    padding-top: 96px;
    box-sizing: border-box;
}

.index-5-title {
    font-size: 33.3px;
    text-align: center;
    margin-bottom: 96px;
    box-sizing: border-box;
}

.video-li {
    width: 100%;
    box-sizing: border-box;
}

.video-li li {
    width: 20%;
    float: left;
    padding: 0px 35px;
    box-sizing: border-box;
    margin-bottom: 48px;
}

.video-li li img {
    width: 100%;
}

.index-5-main-text {
    fonot-size: 16.6px;
    color: #000;
    text-decoration: none;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.index-5-page {
    margin: 0 auto;
    left: 380px;
    bottom: 55px;
    position: absolute;
}

.index-3-bg {
    width: 2560px;
    height: 1600px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_3_bg.jpg') no-repeat center;
    background-size: 100% 100%;
}

.index-3-button {
    position: absolute;
    top: 1199px;
    left: 923px;
    width: 339px;
    height: 109px;
    cursor: pointer;
}

.index-4-bg {
    width: 7680px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_4_bg.jpg') no-repeat center;
    background-size: 100% 100%;
}

.index-4-carousel {
    position: absolute;
    left: 1320px;
    top: 160px;
    width: 6115px;
    height: 814px;
}

.index-4-carousel-item {

}

.index-4-previous {
    position: absolute;
    left: 1171px;
    top: 486px;
    width: 107px;
    height: 179px;
    border: none;
    background: url('../image/index_4_pre.png') no-repeat center;
    cursor: pointer;
}

.index-4-next {
    position: relative;
    left: 7458px;
    top: 486px;
    width: 107px;
    height: 179px;
    border: none;
    background: url('../image/index_4_next.png') no-repeat center;
    cursor: pointer;
}

/*index-2*/
.index-2-bg {
    width: 1080px;
    height: 1774px;
    margin: 0 auto;
    position: relative;
    background: url('../image/index_01_bg.png') no-repeat center;
    background-size: 100% 100%;
}

.con_but {
}

.con_but_01 {
    position: absolute;
    top: 982px;
    left: 354px;
    cursor: pointer;
}

.con_but_02 {
    position: absolute;
    top: 1227px;
    left: 354px;
    cursor: pointer;
}

.play-toggle {
    visibility: hidden;
}